$color-light: #f7f0f1;
$color-red: #fe4a49;
$color-blue: #2ab7ca;
$color-green: #4bcc9d;

body {
  background-color: $color-light;
  padding: 1em;
}

hr {
  margin: 2em 0 2em;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;

  & h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
  }

  & h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
  }

  & h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
  }
}

#table {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto, min-max(300px, 1fr));
  & #table-ally {
    background-color: $color-blue;
    border-radius: 0.5em;
    padding: 1em;
  }
  & #table-horde {
    background-color: $color-red;
    border-radius: 0.5em;
    padding: 1em;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr;
  align-items: center;
  padding-bottom: 0.5em;

  & .percent {
    color: white;
    opacity: 0.95;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 0.5rem 0;
  }

  & .percent:after {
    content: '%';
    padding-left: 2px;
    font-size: 1rem;
    opacity: 0.75;
  }
}

.header-bar {
  background-color: #e7b746;
  padding: 1em 1em 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

.meter {
  background-color: $color-light;
  border-radius: 0.5em;
  height: 80%;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);

  & .progress {
    display: flex;
    height: 100%;
    background-color: $color-green;
    border-radius: 0.5em 0 0 0.5em;
    align-items: center;
    padding-left: 1em;
    font-family: sans-serif;
    font-weight: 700;
  }
}

#footer {
  font-family: sans-serif;
}

// DESKTOP
@media screen and (min-width: 700px) {
  #table {
    grid-template-columns: 1fr 1fr;
  }

  #footer {
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

// MOBILE
@media screen and (max-width: 700px) {
  #footer {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    text-align: center;
  }
}
