$color-light: #f7f0f1;
$color-red: #fe4a49;
$color-blue: #2ab7ca;

body {
  background-color: $color-light;
  padding: 1em;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
  }

  & h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

#table {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto, min-max(300px, 1fr));
  & #table-ally {
    background-color: $color-blue;
    border-radius: 0.5em;
    padding: 1em;
  }
  & #table-horde {
    background-color: $color-red;
    border-radius: 0.5em;
    padding: 1em;
  }
}

.item {
  display: grid;
  grid-template-columns: 2fr 8fr;
  align-items: center;
  padding-bottom: 0.5em;

  & .meter {
    background-color: grey;
    border-radius: 0.5em;
    height: 80%;

    & .progress {
      display: block;
      height: 100%;
      background-color: green;
      border-radius: 0.5em;
      width: 24%;
    }
  }
}

// DESKTOP
@media screen and (min-width: 700px) {
  #table {
    grid-template-columns: 1fr 1fr;
  }
}

// MOBILE
@media screen and (max-width: 700px) {
}
