body {
  background-color: #f7f0f1;
  padding: 1em; }

#hero {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #hero h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase; }
  #hero h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase; }
