body {
  background-color: #f7f0f1;
  padding: 1em; }

hr {
  margin: 2em 0 2em; }

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em; }
  #hero h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase; }
  #hero h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase; }
  #hero h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem; }

#table {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto, min-max(300px, 1fr)); }
  #table #table-ally {
    background-color: #2ab7ca;
    border-radius: 0.5em;
    padding: 1em; }
  #table #table-horde {
    background-color: #fe4a49;
    border-radius: 0.5em;
    padding: 1em; }

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr;
  align-items: center;
  padding-bottom: 0.5em; }
  .item .percent {
    color: white;
    opacity: 0.95;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    width: 4ch;
    text-align: center; }
  .item .percent:after {
    content: '%';
    padding-left: 2px;
    font-size: 1rem;
    opacity: 0.75; }

.header-bar {
  background-color: #e7b746;
  padding: 1em 1em 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.5em; }

.meter {
  background-color: #f7f0f1;
  border-radius: 0.5em;
  height: 80%;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5); }
  .meter .progress {
    display: flex;
    height: 100%;
    background-color: #4bcc9d;
    border-radius: 0.5em 0 0 0.5em;
    align-items: center;
    padding-left: 1em;
    font-family: sans-serif;
    font-weight: 700; }

#footer {
  font-family: sans-serif; }

@media screen and (min-width: 700px) {
  #table {
    grid-template-columns: 1fr 1fr; }
  #footer {
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; } }

@media screen and (max-width: 700px) {
  #footer {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    text-align: center; } }
